@model FreshPanPizza.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<div id="preloader">
    <div id="status">
        <div class="spinner-chase">
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
        </div>
    </div>
</div>


<body style="background-color:#cdc1ff; background-image: linear-gradient(316deg, #cdc1ff 0%, #e5d9f2 74%);">
    <div class="account-pages pt-sm-5 my-5">
        @* #E6E6FA *@
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-primary-subtle">
                            <div class="row">
                                <div class="col-7">
                                    <div class="text-primary p-4">
                                        <h5 class="text-primary">Have a Login Up!</h5>
                                        <p>Access Fresh Pan Pizza account now.</p>
                                    </div>
                                </div>
                                <div class="col-5 align-self-end">
                                    <img src="~/assets/images/profile-img.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div>
                                <a href=@Url.Action("MainDashboard", "Account")>
                                    <div class="avatar-md profile-user-wid mb-4">
                                        <span class="avatar-title rounded-circle bg-light">
                                            <img src="~/assets/images/pizzalogo/logo.png" class="rounded-circle" height="60px;">
                                        </span>
                                    </div>
                                </a>
                            </div>
                            <div class="p-2">
                                <form asp-action="Login">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                    <div class="mb-3">
                                        <label asp-for="Email" class="form-label"></label>
                                        <input asp-for="Email" class="form-control" type="email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>



                                    <div class="mb-3">
                                        <label asp-for="Password" class="form-label"></label>
                                        <input type="password" asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>


                                    <div class="mt-4 d-grid">
                                        <input type="submit" value="Login" class="btn btn-primary waves-effect waves-light" />
                                    </div>

                                    <div class="mt-4 text-center">
                                        <h5 class="font-size-14 mb-3">Sign up using</h5>

                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="javascript::void()" class="social-list-item bg-danger text-white border-danger">
                                                    <i class="mdi mdi-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-center">

                        <div>
                            @* <p>Already have an account ? <a href=@Url.Action("Login", "Auth") class="fw-medium text-primary"> Login</a></p> *@
                            <p>
                                Create an account ? <a asp-action="SignUp" class="fw-medium text-primary"> Sign up</a>
                            </p>
                            <p>
                                ©
                                <script>document.write(new Date().getFullYear())</script> Fresh Pan Pizza. Crafted with <i class="mdi mdi-heart text-danger"></i> by Swagat
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        <script src="/assets/js/app.js"></script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if ((charCode < 48 || charCode > 57))
                    return false;

                return true;
            }
        </script>
    }
}





