@{
    ViewBag.Title = "Admin";
    ViewBag.pTitle = "Admin";
    ViewBag.pageTitle = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/PizzaCustomLayouts/_LayoutPizzaCustom.cshtml";
}

<span>@CurentUser.Name</span>


@section scripts {
    <!-- App js -->
    <script src="/assets/js/app.js"></script>
}