@{
    ViewBag.Title = "Dashboard";
    ViewBag.pTitle = "Menu";
    ViewBag.pageTitle = "Dashboard";
    Layout = "~/Areas/User/Views/Shared/Layouts/CustomLayouts/_layout_hprozontal_boxed_custom.cshtml";
}


<div id="preloader">
    <div id="status">
        <div class="spinner-chase">
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
        </div>
    </div>
</div>


@await Component.InvokeAsync("PizzaMenu")          
@await Html.PartialAsync("/Views/_PizzaMenu.cshtml")
@await Html.PartialAsync("/Views/_ToastCode.cshtml")

@section scripts {
    <script src="/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/assets/js/cart.js"></script>
}