@{
    ViewBag.Title = "Dashboard";
    ViewBag.pTitle = "Menu";
    ViewBag.pageTitle = "Dashboard";
    Layout = "~/Areas/User/Views/Shared/Layouts/CustomLayouts/_layout_hprozontal_boxed_custom.cshtml";
}
<style>

</style>
<div class="row">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xl-3">

            <!-- Simple card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="~/assets/images/pizzaphotos/margetia.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                    <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light">Button</a>
                </div>
            </div>

        </div><!-- end col -->

        <div class="col-md-6 col-xl-3">

            <!-- Simple card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="~/assets/images/pizzaphotos/margetia.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                    <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light">Button</a>
                </div>
            </div>

        </div><!-- end col -->
         <div class="col-md-6 col-xl-3">

            <!-- Simple card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="~/assets/images/pizzaphotos/margetia.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                    <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light">Button</a>
                </div>
            </div>

        </div><!-- end col -->
        <div class="col-md-6 col-xl-3">

            <!-- Simple card -->
            <div class="card">
                <img class="card-img-top img-fluid" src="~/assets/images/pizzaphotos/margetia.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make
                        up the bulk of the card's content.
                    </p>
                    <a href="javascript: void(0);" class="btn btn-primary waves-effect waves-light">Button</a>
                </div>
            </div>

        </div><!-- end col -->
    </div>

</div>
<!-- end row -->
@section scripts {

    <!-- apexcharts -->
    <script src="/assets/libs/apexcharts/apexcharts.min.js"></script>

    <script src="/assets/js/pages/dashboard.init.js"></script>

    <script src="/assets/js/app.js"></script>
}