@{
    ViewBag.Title = "Dashboard";
    ViewBag.pTitle = "Menu";
    ViewBag.pageTitle = "Dashboard";
    Layout = "~/Areas/User/Views/Shared/Layouts/CustomLayouts/_layout_hprozontal_boxed_custom.cshtml";
}


<div id="preloader">
    <div id="status">
        <div class="spinner-chase">
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
            <div class="chase-dot"></div>
        </div>
    </div>
</div>


@await Component.InvokeAsync("PizzaMenu")                    


@section scripts {
    <script src="/assets/js/pages/dashboard.init.js"></script>
    <script src="/assets/js/app.js"></script>
}